@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background: yellow;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 1.2m;
}

.container {
    margin: 0 auto;
    max-width: 960;

}

h1,
h2,
h3 {
    font-family: ;
}

nav ul li{
    list-style: none;
}